@import "bootstrap";

body {
  li {
    list-style: none;
  }
}

.book-list {
  display: flex;
  flex-flow: row wrap;
}

.book-list > * {
  flex-basis: 10em;
  flex-grow: 1;

  #delete-button {
    display: none;
  }
}

.map-display {
  height: 600px;
  width: 600px;
}
